gitdemo/src/main/mule/gitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="50a39d36-733a-4309-ac57-94f269b0f8b0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoFlow" doc:id="5ed3814b-dcc0-4dc2-be68-a69782f47836" >
		<http:listener doc:name="Listener" doc:id="ac9f5637-4d48-47a8-8995-8906da78b8cf" path="/test" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="e215e69b-a6e8-48ca-ae72-c6c8dc956ce0" message='#["Github demo"]'/>
		<set-payload value='#["Compare check"]' doc:name="Set Payload" doc:id="8460327b-b078-4008-964d-49bb5a0b8413" />
		<logger level="INFO" doc:name="Logger" doc:id="838fb98f-2961-43b4-9778-7306fa05202c" message='#["adding more logger"]'/>
	</flow>
</mule>
